@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}
body{
  background-image: url(https://images.unsplash.com/photo-1610296669228-602fa827fc1f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1568&q=80);
  height:100vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blur{
  background-color: rgba(255, 255, 255, 0.2);
  padding:20px 30px;
  border-radius:10px;
  backdrop-filter:blur(10px);
  width:250px;
}
.userCard{
  text-align:center;
  color:#303030;
  transform-style: preserve-3d;
}
h1, h2, h3, h4, h5{
  font-weight:400;
  text-transform:uppercase;
  color:#202020;
  transform: translateZ(50px);
}
.userCard img{
  width:180px;
  transform: translateZ(50px);
}
.userCard h5{
  padding-bottom:10px;
  margin-bottom:15px;
  border-bottom:2px solid rgba(255,255,255,0.5);
}

.userCard p{
  font-size:16px;
  padding-bottom:20px;
}